.rect {
    -fx-fill: yellow;
        -fx-stroke: green;
        -fx-stroke-width: 5;
        -fx-stroke-dash-array: 12 20 40 2;
        -fx-stroke-dash-offset: 2;
        -fx-stroke-line-cap: butt;
}